<div class="bg-nav-footer text-white py-5 ">
    <div class="container d-flex justify-content-around text-center py-5">
        <div class="w-25">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>

        <div class="w-25">
            <h3>AROUND THE WEB</h3>
            <ul class="d-flex gap-3 mx-auto ps-0 justify-content-center">
                <li><i class="fa-brands fa-facebook border rounded-circle p-2"></i></li>
                <li><i class="fa-brands fa-twitter border rounded-circle p-2"></i></li>
                <li><i class="fa-brands fa-linkedin-in border rounded-circle p-2"></i></li>
                <li><i class="fa-solid fa-globe border rounded-circle p-2"></i></li>
            </ul>
        </div>

        <div class="w-25">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>