<nav class="navbar navbar-expand-lg bg-nav-footer py-3 fw-bold" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand fs-3" routerLink="">START FRAMEWORK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase active rounded-3" aria-current="page" routerLinkActive="bg-main" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase rounded-3" routerLinkActive="bg-main" routerLink="portfolio">Portfolio</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white text-uppercase rounded-3" routerLinkActive="bg-main" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>