<div class="container d-flex flex-column align-items-center">
    <h2 class="mt-5">CONTACT COMPONENT</h2>
    <div class="d-flex align-items-center gap-3 my-3">
        <div class="line bg-black"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line bg-black"></div>
    </div>

    <div class="form w-50 my-5">
        <form class="row g-3 needs-validation flex-column" novalidate>
            <div class="">
                <input type="text" class="form-control" id="validationCustom01" placeholder="userName" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="">
                <input type="text" class="form-control" id="validationCustom02" placeholder="userAge" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="">
                <input type="text" class="form-control" id="validationCustom02" placeholder="userEmail" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="">
                <input type="text" class="form-control" id="validationCustom02" placeholder="userPassword" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-12">
                <button class="btn bg-main text-white fw-semibold" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>