<section class="portfolio text-center my-5">
    <div class="container">
        <h1>Gallery</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div *ngFor="let item of [].constructor(6)" class="col-md-4">
                <div class="card my-3 shadow-sm">
                    <img src="../../assets/img/work-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>