<!-- NavBar======================================================================================= -->
<nav class="navbar navbar-expand-lg bg-black fixed-top py-3" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>
<!-- Header===================================================================================== -->
<header class="vh-100 text-white d-flex justify-content-center align-items-center bg-white">
    <div class="header-content text-center">
        <h1 class="display-1 fw-semibold">I am Ahmad Al Tawil</h1>
        <p class="fs-1 fw-medium">Developer</p>
    </div>
</header>